{{>header}}
{{>navbar}}

<body>
    <form action="/parks/{{park.id}}/aerogenerators/{{aerogenerator.id}}/edit" method="post">
        <h2>Aerogenerator edition form</h2>

        <label for="aerogeneratorId">Aerogenerator id:</label>
        <input id="aerogeneratorId" name="aerogeneratorId" required type="text"
               value="{{aerogenerator.aerogeneratorId}}"/>
        <label for="aerogeneratorLatitude">Aerogenerator latitude:</label>
        <input id="aerogeneratorLatitude" name="aerogeneratorLatitude" required
               step="0.01" type="number" value="{{aerogenerator.aerogeneratorLatitude}}"/>
        <label for="aerogeneratorLongitude">Aerogenerator longitude:</label>
        <input id="aerogeneratorLongitude" name="aerogeneratorLongitude" required
               step="0.01" type="number" value="{{aerogenerator.aerogeneratorLongitude}}"/>
        <label for="bladeLength">Blade length:</label>
        <input id="bladeLength" name="bladeLength" required step="1" type="number"
               value="{{aerogenerator.bladeLength}}"/>
        <label for="height">Height:</label>
        <input id="height" name="height" required step="1" type="number" value="{{aerogenerator.height}}"/>
        <label for="aerogeneratorPower">Aerogenerator power:</label>
        <input id="aerogeneratorPower" name="aerogeneratorPower" required
               step="1" type="number" value="{{aerogenerator.aerogeneratorPower}}"/><br><br>
        <input type="submit" value="Save"/>
        <input name="_csrf" type="hidden" value="{{token}}"/>
    </form>
    <br>
    <br>

    <button onclick="window.location.href='/parks/{{park.id}}';">Go back</button>
</body>

{{>footer}}